.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.input-container > h1 {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.upload-inner-btn {
  color: white;
  position: absoute;
  background-color: blue;
  padding: 8px 12px;
  border-radius: 1.5em;
  border: none;
}

.upload-inner-input {
  position: absolute;
  padding: 4px 0;
  opacity: 0;
}

.image-detector{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.image-result-container{
  display: flex;
  flex-direction: column;
}

.ai-button{
  all: unset;
  background: rgb(11, 204, 11);
  padding: .5rem 1rem;
  font-family: 'Times New Roman', Times, serif;
  border-radius: .3rem;  
  transition: all .5s ease;
  cursor: pointer;
}

.ai-button:active{
  scale: 1.1;
}

.image-result{
  flex: 1;
}

.warning{
  background: rgb(255, 0, 0);
  color: white;
  padding: 1rem;
  border-radius: .3rem;
  margin: 1rem;
}

.go-back{
  all: unset;
  background: rgb(196, 194, 194);
  padding: .5rem 1rem;
  font-family: 'Times New Roman', Times, serif;
  border-radius: .3rem;  
  transition: all .5s ease;
  cursor: pointer;
  align-items: flex-start;
}

.predict-result{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}